/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.excel {width: 90%; background-color: #04AA6D;} /* Green */
.word {width: 100%; background-color: #2196F3;} /* Blue */
.ppt {width: 95%; background-color: #f44336;} /* Red */
.php {width: 80%; background-color: #808080;} /* Dark Grey */
.canva {width: 90%; background-color:cyan;} /* Cyan */



h1{ color: brown;

}
        

    .menu
        {
            background-color: #f6c453;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        a
            { 
                color: black;
                margin-left: 10px;
                text-decoration: none;
                font-family: 'Gluten', cursive;
            }

body
{
    background-color: beige;
    background-size: cover;
}

table,tr,td,th
    {
        border: 1px solid black; 
        border-collapse:collapse;
        padding: 5px;
       }

th 
    {
        background-color: bisque;
        color: brown;
    }


ol
{
    list-style-type: square;
}

ul
{
    list-style-type: square;
}

/* Header/Blog Title */
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background:  #faf0e6;
  }

  /* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.dip
{ 
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 8cm;
  margin-right: 8cm;
  background-color:#ff873d;

}
.deg
{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 8cm;
  margin-right: 8cm;
  background-color:#f0a04b;

}

.work
{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 8cm;
  margin-right: 8cm;
  background-color:white;
}

.edu{

  background-color: #faf0e6

}

.exp{

    background-color: #faf0e6

}

.contact{

    background-color: #faf0e6
}

.contactbox
        {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            width: 18.6%;
            height: 100%;
            float:right;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            margin-left: 10px;
            margin-right: 10px;
            align-items: center;
            opacity: 60%;
        }

        .checked {
          color: orange;
        }
        tr:hover
    {
        background-color: chartreuse; 
    }

    tr 
    {
        background-color: white;
    }



    div.gallery {
      border: 1px solid #ccc;
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
    
    * {
      box-sizing: border-box;
    }
    
    .responsive {
      padding: 0 6px;
      float: left;
      width: 24.99999%;
    }
    
    @media only screen and (max-width: 700px) {
      .responsive {
        width: 49.99999%;
        margin: 6px 0;
      }
    }
    
    @media only screen and (max-width: 500px) {
      .responsive {
        width: 100%;
      }
    }
    
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
    
    